@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background: url("./media/background2.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupBox{
    background: transparent;
    border: 1px solid rgb(152, 146, 146);
    backdrop-filter: blur(50px);
    color: white;
    margin-top: 12vh;
    height: 75vh;
    width: 30vw;
    border-radius: 20px;
}

.signupBox div{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupBox form{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupBox form button{
    background-color: rgb(255, 255, 255);
    margin: 40px;
    height: 40px;
    width: 80px;
    border-radius: 8cqmin;
}


.inputBox{
    background: transparent;
    color: white;
    height: 40px;
    width: 300px;
    padding: 10px;
    margin: 15px 0px 10px 0px;
    border-radius: 35px;
    border: 1px solid rgb(255, 255, 255);
}

form p {
    color: rgb(152, 146, 146);
}

form a {
    color: white;
    text-decoration: none;
}